<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="text-align: center;">Unirme</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <img mat-card-image src="../../../assets/img/auto2.jpg" alt="Auto de viaje">
  <br>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Datos del viaje</ion-card-title>
      <ion-card-subtitle>Valoracion Conductor: 
        <ion-icon name="star" style="color: gold;"></ion-icon>
        <ion-icon name="star" style="color: gold;"></ion-icon>
        <ion-icon name="star" style="color: gold;"></ion-icon>
        <ion-icon name="star" style="color: gold;"></ion-icon>
        <ion-icon name="star-outline" style="color: gold;"></ion-icon>
      </ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <p style="color: rgb(255, 255, 255);">
        Lugar Encuentro: DuocUC <br>
        Destino: playa  <br>
        asiento: 2  <br>
        fecha_hora: 2024-09-15 08:00 AM  <br>
        precio: $10.000clp <br>
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
