.imagen {
    text-align: center;
    margin-top: 50px;
}

.imagen img{
    border: solid 3px rgb(226, 200, 53);
    border-radius: 15px 15px 15px 15px;
}

.Intro-txt {
    text-align: center;
    color: white;
    font-size: large;
}

ion-content {
    --background: rgb(61, 60, 60);
}